---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$tbn-gold:         #FDBC00;
$tbn-orange:       #FF8322;
$tbn-grey:         #051925;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$color-action:     #F52F7A;
$color-emphasis:   #333333;
$color-error:      #FF3333;
$color-muted:      #999;
$color-success:    #83D061;
$color-text:       #595959;
$color-text-success: #329f00;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.time-to-complete {
  font-family: $base-font-family;
  font-size: $base-font-size * 1.25;
  font-style: italic;
  color: lighten($grey-color, 10%);
}

// prefer centered images
p img, svg {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site-footer > img, svg {
  margin: 0;
}

code, pre {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}

button.tbn-btn-code-copy {
  background: none;
  border: none;
  border: solid 1px rgba(0,0,0,0);
  border-radius: 4px;
  color: #999;
  cursor: pointer;
  display: block;
  float: right;
  margin-top: 0;
  transition: all 0.2s;
  width: 30px;
}

button.tbn-btn-code-copy:active {
  background-color: #eeeeee;
  outline: none;
}

button.tbn-btn-code-copy:hover {
  border-color: #F52F7A;
}

.tbn-topbar {
  margin: -20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tbn-button {
  background-color: $background-color;
  border: solid 1px $color-emphasis;
  color: $color-emphasis;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 16px;
  margin: 10px 0;
  padding: 14px 19px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s;
}
.tbn-button:visited {
  color: $color-emphasis;
}
.tbn-button:focus,
.tbn-button:hover {
  border: solid 1px $color-action;
  color: $color-action;
  outline: none;
  text-decoration: none;
}
.tbn-button:disabled {
  border: solid 1px $color-muted;
  color: $color-muted;
  cursor: default;
}

@media (min-width: $on-laptop) {
  .wrapper {
    padding-left: 10px;
    padding-right: $spacing-unit * 2;
  }
}

@media (max-width: $on-laptop) {
  // hide code copy buttons on mobile
  button.tbn-btn-code-copy {
    display: none;
  }
}

table {
  border-collapse: collapse;
  margin: 20px 0px 20px 0px;
  width: 80%;
}

td, th {
  border: 1px solid grey;
  padding: 6px;
  margin: 0px;
}
