#@COOKIE=Tbn-Docs-site-Version
#@HEADER=X-Tbn-Tbn-Docs-site-Version
#@REPLICAS_PROD=3
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{withTag "docs-site-{{stage}}-"}}
  labels:
    app: docs-site
    stage: {{stage}}
    version: {{tag}}
spec:
  replicas: {{replicas}}
  template:
    metadata:
      labels:
        app: docs-site
        stage: {{stage}}
        version: {{tag}}
        tbn_cluster: docs-site
    spec:
      containers:
      - name: docs-site
        image: "turbinelabs/docs-site:{{tag}}"
        imagePullPolicy: Always
        ports:
          - name: http
            containerPort: 80
            protocol: TCP
        env:
        - name: STATIC_HOST_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: GOOGLE_ANALYTICS_KEY
          valueFrom:
            secretKeyRef:
              name: docs-google-analytics
              key: trackingID
        - name: INTERCOM_APP_ID
          valueFrom:
            secretKeyRef:
              name: docs-intercom
              key: app-id
        - name: FULLSTORY_ORG_ID
          valueFrom:
            secretKeyRef:
              name: docs-fullstory
              key: org-id
