/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: $spacing-unit/2 $spacing-unit;
  color: rgba(255,255,255,.5);
  background-color: $tbn-grey;

  h1 h2 h3 h4 h5 h6 {
    color: $tbn-orange;
  }
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 6 * $spacing-unit;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

.sidebar-about {
  color: $tbn-gold;
}
.sidebar h2 {
  color: $tbn-orange;
}

/* About section */
.sidebar-about h1 {
  color: #tbn-orange;
  margin-top: 0;
  font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

.sidebar-nav-sub-item {
  padding-left: 1.3rem;
  font-size: .7rem;
  text-indent:-1em;
}
