---
layout: default
---

{% for coll in site.collections %}
  {% if coll.label == page.collection_name %}
    {% if coll.docs[0].print_order == nil %}
      {% assign sorted_pages = coll.docs %}
    {% else %}
      {% assign sorted_pages = coll.docs | sort: 'print_order' %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign hr = false %}
{% for page in sorted_pages %}
{% if page.relative_path contains 'index.md' %}
{% else %}
{% if hr %}
<br /><hr /><br />
{% endif %}
{% assign hr = true %}
<a name="{{page.title | slugify }}"></a>
<h1>{{page.title}}</h1>
{% if page.time_to_complete %}
  <h2 class="time-to-complete">Time to complete: {{ page.time_to_complete }}</h2>
{% endif %}
{{ page.content | liquefy | markdownify }}
{% endif %}
{% endfor %}
